<p id="notice"><%= notice %></p>

<h1>User Tests</h1>

<table>
  <thead>
    <tr>
      <th colspan="1">Title</th>
      <th colspan="2">User</th>
    </tr>
  </thead>

  <tbody>
     <%= render @user_tests %>
  </tbody>
</table>
