<h1><%= t(".header", title: @user_test.test.title) %></h1>

<% if @user_test.success? %>
  <div class="form-check">
    Success
    <b style="color:green;"><%= @user_test.percent_of_completion %></b>
  </p>
<% else %>
  <p>
    Fail
    <b style="color:red;"><%=@user_test.percent_of_completion %></b>
  </p>
<% end %>

<%= link_to "All tests", tests_path, class: "btn btn-success" %>
</div>