<h1><%= "Test #{@user_test.test.title} completed" %></h1>

<% if percent_of_completion >= 85 %>
  <p>
    Success
    <b style="color:green;"><%= percent_of_completion %></b>
  </p>
<% else %>
  <p>
    Fail
    <b style="color:red;"><%= percent_of_completion %></b>
  </p>
<% end %>

<%= link_to "All tests", tests_path %>