<h1>Question</h1>

<p><%= @answer.question.body %></p>

<h2>Answer</h2>

<p>
  <b>Answer:</b>
  <%= @answer.body %>
</p>

<p>
  <b>Correct:</b>
  <%= @answer.correct %>
</p>

<p> <%= link_to "Back", admin_question_path(@answer.question) %> <p>