<h1>Tests</h1>

<table>
  <% @tests.each do |test| %>
    <tr>
      <td><%= link_to test.title, test_path(test) %></td>
      <td><%= test.questions.size %></td>
      <td> <%= button_to "start", start_test_path(test) %> </td>
    </tr>
  <% end %>
</table>
